################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PricingEngine/OpenCover
/PricingEngine/packages
/PricingEngine/**/bin/Debug
/PricingEngine/**/obj/Debug
*.user
/PricingEngine/.vs/PricingEngine/v14
