################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/OpenCover
/**/packages
/**/bin/
/**/obj/
/**/obj/x86/Debug
*.user
*.suo
/**/.vs
/**/node_modules